<div class="">
  <table border=0 width="100%" class="table dashboard">  
    <tr valign="top">
      <td align=left valign=top width="50%">
        <h4><%= t("general.welcome") %></h4>
      </td>
    </tr>
  </table>
</div>