<% if @invite %>
    <div class="" style="text-align: center;" data-no-turbolink>
      <h3><%= t("general.login_via_linkedin_to_leave_feedback") %></h3>
      <span><%= link_to image_tag("linkedin_login.jpeg", :title => t("general.linkedin")), "/auth/linkedin" %></span>
      <div class="clearb">&nbsp;</div>
    </div>
<% else %>
  <div class="loginfom frontform" data-no-turbolink>
    <h3><%= t("general.you_can_not_access_this_page") %></h3>
  </div> 
<% end %>