<div class="" style="text-align: center;" data-no-turbolink>
  <h3><%= t("general.login_via_linkedin")%></h3>
  <span><%= link_to image_tag("linkedin_login.jpeg", :id => 'subscribe_lnk', :title => t("general.linkedin")), "/auth/linkedin" %></span>
  <br />
  <span id="spinner" style="float: right; margin:-46px 463px 0 0; display: none;">
    <%= image_tag "loading.gif" %>
  </span>
      <div class="clearb">&nbsp;</div>
</div>  