<table class="table">
    <tr>
      <td>
        
        <div style="float:left;width:100%;">
          <% @user.cv.cv_skills.load.each do |row| %>
            <p><b># <%= row.name %></b></p>
          <% end %>
        </div>
      </td>
    </tr>
</table>
<p style="float:right;">
  <%= link_to t("general.back"), "#", :class => "btn btn-info", :id => "stepform22" %>
  <%= link_to t("general.next"), "#", :class => "btn btn-info", :id => "stepform44" %>
</p>