body {
  margin:0; padding:0;
  font-family:Arial, Helvetica, sans-serifF; 
  font-size: 14px;
}

a img {
  border: none; outline:none;
}
.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#container {
  width: 75%;
  margin: 0 auto;
background:#f3f3f3; position:relative;
  padding: 20px; border:#fff solid 1px; -webkit-border-radius:0 0 10px 10px;  -moz-border-radius:0 0 10px 10px;  border-radius:0 0 10px 10px;

}

#flash_notice, #flash_error, #flash_alert {
  padding:3px 8px; 
  margin:0; position:absolute; font-size:13px; color:#af161c; font-weight:normal; -webkit-border-radius:15px;  -moz-border-radius:15px;  border-radius:15px; top:77px; right:20px;
}

#flash_notice {
  background-color: #ffcfd1;
  border: solid 1px #ffafb2;
}

#flash_error, #flash_alert {
  background-color: #ffcfd1;
  border: solid 1px #ffafb2;
}

.fieldWithErrors {
  display: inline;
}

.error_messages {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px;
}

.error_messages h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

.error_messages p {
  margin: 8px 10px;
}

.error_messages ul {
  margin: 0;
}

table.pretty {
  border-collapse: collapse;
  margin-bottom: 10px;
}

.pretty td, .pretty th {
  padding: 4px 10px;
  border: solid 1px #cececd; }

.pretty .price {
  text-align: right;
}

.pretty th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}

.pretty th .asc {
  background-image: url(/assets/up_arrow.gif);
}

.pretty th .desc {
  background-image: url(/assets/down_arrow.gif);
}
.wlcm-menu { border:#cecece solid 1px; padding:2px 5px; background:#fff; }
.wlcm-menu ul { }
.wlcm-menu ul li { margin:0 10px 0 0; font-size:13px; color:#414141; text-decoration:none;  font-weight:bold; background:none; border:none;   }
.wlcm-menu ul li a { padding:0; color:#414141; text-decoration:none;    }
.wlcm-menu ul li a:hover {   color:#000; text-decoration:underline;   }
.wlcm-menu ul li img { padding:0; background:none; margin:0 5px -2px 0; }
.headline { margin-bottom:10px; padding-bottom:10px; }

.menu { margin-top:-21px; clear:both;}
.loginfom { margin:10px auto; padding:20px; width:auto; background:#fff; border:#cececd solid 1px; -webkit-border-radius:10px;  -moz-border-radius:10px;  border-radius:10px; -webkit-box-shadow:  0px 0px 3px 3px rgba(206, 206, 205, 0.5); box-shadow:  0px 0px 3px 3px rgba(206, 206, 205, 0.5);  }
.loginfom h3 { 
    font-size: 20px;
    font-weight: bold;
    margin: 0 0 0px;
}



.footerbg { color:#82b0bd; padding-top:15px; text-align:center; font-size:12px; font-weight:normal; } 
.frontform {width:400px !important;}
.heartform {width:800px !important;}

div.field, div.actions {
    margin-bottom: 10px;
}
.container {
    width: 710px;
}
body {
    /*background: none repeat scroll 0 0 #4B7399;*/
}
header {
    padding-top: 0px;
}
header img {
    background: none repeat scroll 0 0 #FFFFFF;
    padding: 1em;
}
section {
    background: #FFFFFF;
    font-size:13px;
    margin-top: 1em;
    padding: 20px; -webkit-box-shadow:  0px 0px 3px 3px rgba(206, 206, 205, 0.5); box-shadow:  0px 0px 3px 3px rgba(206, 206, 205, 0.5);
}
section h3 { border-bottom: 1px dashed #000000; color: #BB3830; font-size: 20px; font-weight: bold; margin: 0 0 10px; padding: 0 0 5px;}
section h1 {
    font-size: 200%;
}

nav {
    float: right;
}
nav {
    white-space: nowrap;
}
nav ul {
    margin: 0;
    padding: 0;
}
nav ul li {
    display: inline-block; background:url(/assets/nav-bg.jpg) bottom left repeat-x; height:28px; font-size:13px; font-weight:bold; color:#414141;
    list-style-type: none;
    padding:0; line-height:28px; border:#88b6c3 solid 1px; -webkit-border-radius:5px 5px 0 0;  -moz-border-radius:5px 5px 0 0;  border-radius:5px 5px 0 0; border-bottom:none;
}
nav ul li a {
    padding: 0 7px; color:#414141;
}
nav ul li a:visited {
    color: #414141;
}
nav ul li a:hover {
    text-decoration: none; color:#a31e23;
}
a.signup_button {
    background: none repeat scroll 0 0 #006400; color: #FFFFFF;
    display: block;
    font-size: 150%;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    text-align: center;
    width: 190px;
}
.round {
    border-radius: 10px 10px 10px 10px; 
}
footer {
    padding: 13px 0 13px;
    text-align: center;
}
footer nav {
    float: none;
}
nav {
    float: right;
}
.field_with_errors {
    display: table;

}
#error_explanation {
 font-size:13px; font-style:italic; color:#ff0000; text-align:left;
}
#error_explanation h2 {
    color: #414141;
    font-size: 12px;
    margin:0;
    padding:0;
    text-align: left;
}
#error_explanation p {
    color: #B94A48;
    padding: 5px;
}
#error_explanation ul li {
    list-style: none; margin:0; padding:0; line-height:20px;
}
h1.micropost {
    margin-bottom: 0.3em;
}
table.microposts {
    margin-top: 1em;
}
table.microposts tr {
    height: 70px;
}
table.microposts tr td.gravatar {
    border-top: 1px solid #CCCCCC;
    vertical-align: top;
    width: 50px;
}
table.microposts tr td.micropost {
    border-top: 1px solid #CCCCCC;
    padding-top: 10px;
    vertical-align: top;
}
table.microposts tr td.micropost span.timestamp {
    color: #666666;
    display: block;
    font-size: 85%;
}
div.user_info img {
    padding-right: 0.1em;
}
div.user_info a {
    text-decoration: none;
}
div.user_info span.user_name {
    position: absolute;
}
div.user_info span.microposts {
    font-size: 80%;
}
form.new_micropost {
    margin-bottom: 2em;
}
form.new_micropost textarea { height: 4em; margin-bottom: 0; }

.admintextbox {width:950px;  }
.admintextbox-leftpart { width:475px; float:left; }
.admintextbox span { font-size:12px; font-style:italic; display:block; margin-top:-7px; color:#ff0000; }
.admintextbox em { font-size:12px; font-style:normal; display:block; margin-top:-24px; color:#ccc; padding-bottom:8px; }
.admintextbox-leftpart form { margin-left:0;}

.admintextbox  input, textarea {
    -moz-transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
.admintextbox  input, textarea, .uneditable-input {
    border: 1px solid #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    color: #555555;
    display: inline-block;
    font-family: Arial,Helvetica,sans-serif;    
    line-height: 18px;
    margin-bottom: 9px;
    padding: 4px;
     
}
.admintextbox input[type="file"] {
    height: 28px;
    line-height: 28px; }
  

.admintextbox input[type="button"],
.admintextbox input[type="reset"],
.admintextbox input[type="submit"] {
  width: auto;
  height: auto; background:#bb372d; font-size:15px; text-transform:uppercase; color:#fff; text-align:center; padding:7px 15px; border-radius:5px; -webkit-border-radius:5px;  moz-border-radius:5px; font-family:Arial, Helvetica, sans-serif; font-weight:bold; border:none; float:left; cursor:pointer;
}
.admintextbox label {
    color: #333333;
    display: block;
    margin-bottom: 5px;
}

.checkbox { width:450px; float:left; }
.checkbox input[type="checkbox"] { width:14px; float:left; margin:0 5px 10px 0; }


.cl { clear:both;}
.admintextbox ul, li { margin:0; padding:0; }

.search {float: right;}
.search img{
  float: right;
  height: 30px;
}

.heartform table td {border:none !important;}
.gender-text {float: left;margin: 2px 0 0 5px;position: absolute;}

table textarea {
  height: 160px;
}
.dashboard {font-size-adjust:0.8;}
.dashboard .padLeft30 {padding:5px 0 0 30px;}
.dashboard span{ float: left; margin: 30px 0 0 140px; }
.p_header_links { float: right; margin-top: -50px; }


.invite_btn {
  float: right;
  margin-right: 15px;
  margin-top: -33px;  
}
.contactInfoErr {
  color: red;
  font-size: 15px;
  margin: 30px 5px 0 0;
  float: right;  
}
.marTop9 {margin-top:9px}
